<%# Login View %>
  <div class="login-container">
    <h1>
      <%= title %>
    </h1>
    <%- messages() %>
      <% if (locals.errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <form id="loginForm" action="/account/login" method="post">
            <div class="form-group">
              <label for="account_email">Email:</label>
              <input type="email" id="account_email" name="account_email" required placeholder="Enter your email"
                value="<%= locals.account_email %>">
            </div>
            <div class="form-group">
              <label for="account_password">Password:</label>
              <div class="password-wrapper">
                <input type="password" id="account_password" name="account_password" required
                  placeholder="Enter your password">
              </div>
            </div>

            <button type="submit" class="btn-primary">LOGIN</button>
          </form>

          <div class="register-link">
            <p>No account? <a href="/account/register">Sign-up</a></p>
          </div>
  </div>