<footer>
    <p>&copy; 2023 CSE Motors. All rights reserved.</p>
    <p>CSE 340 Web Backend Development II</p>


    <!-- Error Link -->
    <p style="margin-top: 20px; font-size: 0.9rem;">
        <a href="/trigger-error" style="color: #dc3545; text-decoration: none;">
            ⚠️  500 Server Error
        </a>
    
    </p>




</footer>