<nav>
    <div class="nav-container">
        
        
        <%- nav %>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </div>

</nav>