<nav>
    <div class="nav-container">
        <ul class="nav-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/" class="nav-link">Custom</a></li>
            <li><a href="/" class="nav-link">Sedan</a></li>
            <li><a href="/" class="nav-link">SUV</a></li>
            <li><a href="/" class="nav-link">Truck</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>